{% extends 'user_main.html' %}
{% load static %}
{% block title %} New Password {% endblock %}
{% block content %}
<div class="login-container">
    <div class="d-flex justify-content-center">
        <img src="{% static 'images/login_register/esports_logo.png' %}" alt="Esports Logo" class="img-fluid mb-4 text-center">
    </div>

    <div class="card shadow rounded-4">
        <div class="card-body p-4 p-sm-5">
            <div class="text-center mb-4">
                <h2 class="fw-bold">Enter Password</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field }}
                            <label for="floatingUsername">{{ field.label }}</label>
                            {% if field.errors %}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg btn-login">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}