{% extends 'user_main.html' %}
{% load static %}
{% block title %} Passowrd Reset Complete {% endblock %}
{% block content %}
<div class="login-container">
    <div class="d-flex justify-content-center">
        <img src="{% static 'images/login_register/esports_logo.png' %}" alt="Esports Logo" class="img-fluid mb-4 text-center">
    </div>

    <div class="card shadow rounded-4">
        <div class="card-body p-4 p-sm-5">
            <div class="text-center mb-4">
                <h4 class="fw-bold">Password Reset Complete</h4>
            </div>
            <hr />
            <div class="mb-3">
                <p>Your password has been set. You may go ahead and log in now.</p>
                <div class="d-grid">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}