{% extends 'user_main.html' %}
{% load static %}
{% block title %} Password Reset Sent {% endblock %}
{% block content %}
<div class="login-container">
    <div class="d-flex justify-content-center">
        <img src="{% static 'images/login_register/esports_logo.png' %}" alt="Esports Logo" class="img-fluid mb-4 text-center">
    </div>

    <div class="card shadow rounded-4">
        <div class="card-body p-4 p-sm-5">
            <div class="text-center mb-4">
                <h3 class="fw-bold">Password Reset Sent</h3>
            </div>
            <hr />
            <div class="mb-3">
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the email
                    you entered. You should receive them shortly.
                </p>
                <p>
                    If you don’t receive an email, please make sure you’ve
                    entered the address you registered with, and check your spam folder.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}